
        .guide {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

@media (max-width: 500px) 
{

    .guide{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;   
/*         background-color: red;  */
        }

        .guide div
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
/*             background-color: blue; */
        }

        .guide div:nth-child(1)
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            font-size: medium;
        }

        .guide div a
        {
        }

       
    #guidespacer {
        display: block;
        float: left;
        width: 50%;
    }

}

.name
{
    color: black;
    font-family: Fantasy, Verdana, Geneva, Tahoma, sans-serif;
}


footer img {
    height: 8%;
    width: 8%; 
    min-width: 50px;
    min-height: 50px;    
    border-radius: 20%;
    background-color: white;
    box-shadow: 1px 1px 10px 10px rgba(255,255,255, 120);
    margin:auto
}


footer img#git {
    border-radius: 100%;
}

.column img#linkedin:hover {
    transform: scale(1.2);
}

.column img#git:hover {
    transform: scale(1.2);
}

.column img#email:hover {
    transform: scale(1.2);
}

.column{
    float:left;
    width: 24%;
    padding: 5px;
  }

button {
    position:relative;
    height: auto;
    width: auto;
    border-radius: 10px;
    box-shadow: 4px 5px 10px 2px rgba(51, 51, 51, 51), 0 0 5px;    
    text-shadow: 2px 2px rgba(51, 51, 51, 51);     
}

#topBar
{
    background-color: white;
    border-radius: 10px;
}


p
{
    text-align: center;
    text-shadow:0.3px 0.3px rgba(51,51,51, 120);
}

.hr {
    border-width: 5px;
    width: 50vw;
    border-color: rgb(201, 201, 201);
    border-radius: 100%;
}

.w3-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-left: 5%;
    margin-right: 5%;
}
