
@media (max-width: 500px) 
{
    
    
    img {
        max-width: 90%;
        max-height: 90%;
        margin: auto;
    }

    .guide{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-columns: repeat(3, 1fr);        
        display:flow-root;
        }

       
    #guidespacer {
        display: block;
        float: left;
        width: 50%;
    }

}

.name
{
    color: black;
    font-family: Fantasy, Verdana, Geneva, Tahoma, sans-serif;
}


footer img {
    height: 8%;
    width: 8%; 
    min-width: 50px;
    min-height: 50px;    
    border-radius: 20%;
    background-color: white;
    box-shadow: 1px 1px 10px 10px rgba(255,255,255, 120);
    margin:auto
}


footer img#git {
    border-radius: 100%;
}

.column img#linkedin:hover {
    box-shadow: 1px 1px 10px 10px rgba(51,51,51, 120);
}

.column img#git:hover {
    box-shadow: 1px 1px 10px 10px rgba(51,51,51, 120);
}

.column img#email:hover {
    box-shadow: 1px 1px 10px 10px rgba(51,51,51, 120);
}

.column{
    float:left;
    width: 24%;
    padding: 5px;
  }

button {
    position:relative;
    height: auto;
    width: auto;
    border-radius: 100%;
    box-shadow: 4px 5px 10px 2px rgba(51, 51, 51, 51), 0 0 5px;    
    text-shadow: 2px 2px rgba(51, 51, 51, 51);     
}

#topBar
{
    background-color: white;
    border-radius: 10px;
}


p
{
    text-align: center;
    text-shadow:0.3px 0.3px rgba(51,51,51, 120);
}

