@charset "utf-8";


@media (min-width: 601px) {
    div.pictures {
        display: grid;
        max-width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px
    }
}

@media (max-width: 600px) {
    #carouselExampleIndicators
    {
        margin: auto;
        display: flex;
        flex-flow: row;
        min-height: 54%;
        min-width: 96%;
        max-height: 54%;
        max-width: 96%;
        box-shadow: rgba(51, 51, 51, 120) 0px 0px 40px,  
                    rgba(51, 51, 51, 120) -10px 0px 40px;
        padding: 10px;
        border-radius: 30px;
    }

    div.pictures img {
        margin: auto;
    }
}




#networks {
    background-image: url(circuit.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    background-size: cover;
    box-shadow: rgb(51, 51, 51) 0px 0px 40px,  
                rgb(51, 51, 51) -10px 0px 40px;
    padding: 2%;    
}



div.pictures img {

    display: flex;
    flex-flow: row;
    margin: 6%;
    max-width: 90%;
    max-height: 90%;
    box-shadow: rgba(51, 51, 51, 120) 0px 0px 40px,  
                rgba(51, 51, 51, 120) -10px 0px 40px;
    padding: 10px;
    border-radius: 30px;
}




#n1:hover
{
transform: scale(1.1);}
#n2:hover
{
transform: scale(1.1);}
#n3:hover
{
transform: scale(1.1);}
#n4:hover
{
transform: scale(1.1);}
#n5:hover
{
transform: scale(1.1);}
#n6:hover
{
transform: scale(1.1);}
#n7:hover
{
transform: scale(1.1);}
#n8:hover
{
transform: scale(1.1);}
#n9:hover
{
transform: scale(1.1);}

#carouselExampleIndicators
{
    height: 36%;
    width: 64%;
    margin: auto;
    display: flex;
    flex-flow: row;
    max-width: 96%;
    max-height: 54%;
    box-shadow: rgba(51, 51, 51, 120) 0px 0px 40px,  
                rgba(51, 51, 51, 120) -10px 0px 40px;
    padding: 10px;
    border-radius: 30px;
}

.carousel-inner img
{ 
    border-radius: 30px;
    max-width: 96%;
    max-height: 54%;
    margin: auto;
    object-fit:cover;
}

#carouselExampleIndicators:hover
{
    box-shadow: rgba(101,101,101, 120) 0px 0px 40px,  
                rgba(101,101,101, 120) -10px 0px 40px;
}
