@charset "utf-8";


@media (min-width: 600px) {
div.pictures {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px
}

}

#networks {
    background-image: url(circuit.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    background-size: cover;
    box-shadow: rgb(51, 51, 51) 0px 0px 40px,  
                rgb(51, 51, 51) -10px 0px 40px;
    padding: 2%;    
}



div.pictures img {

    display: -ms-flexbox;
    -ms-flex-item-align: auto;
    margin: 10px;
    max-width: 100%;
    max-height: 100%;

    box-shadow: rgb(51, 51, 51) 0px 0px 40px,  
                rgb(51, 51, 51) -10px 0px 40px;
    padding: 10px;
    border-radius: 30px;
}




#n1:hover
{
    box-shadow: rgb(255, 255, 150) 0px 0px 40px,  
                rgb(255, 255, 150) -10px 0px 40px;
}
#n2:hover
{
    box-shadow: rgb(255, 255, 150) 0px 0px 40px,  
                rgb(255, 255, 150) -10px 0px 40px;
}
#n3:hover
{
    box-shadow: rgb(255, 255, 150) 0px 0px 40px,  
                rgb(255, 255, 150) -10px 0px 40px;
}
#n4:hover
{
    box-shadow: rgb(255, 255, 150) 0px 0px 40px,  
                rgb(255, 255, 150) -10px 0px 40px;
}
#n5:hover
{
    box-shadow: rgb(255, 255, 150) 0px 0px 40px,  
                rgb(255, 255, 150) -10px 0px 40px;
}
#n6:hover
{
    box-shadow: rgb(255, 255, 150) 0px 0px 40px,  
                rgb(255, 255, 150) -10px 0px 40px;
}
#n7:hover
{
    box-shadow: rgb(255, 255, 150) 0px 0px 40px,  
                rgb(255, 255, 150) -10px 0px 40px;
}
#n8:hover
{
    box-shadow: rgb(255, 255, 150) 0px 0px 40px,  
                rgb(255, 255, 150) -10px 0px 40px;
}
#n9:hover
{
    box-shadow: rgb(255, 255, 150) 0px 0px 40px,  
                rgb(255, 255, 150) -10px 0px 40px;
}
