@charset "utf-8";



div.paintings img {
    
    max-width: 40%;
    margin: 4.5%;
    padding: 20px;
    border-radius: 40px;
    box-shadow: rgb(51, 51, 51) 0px 0px 40px,  
                rgb(51, 51, 51) -10px 0px 40px;
    background-image: url(wood2.jpg);
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center;
    background-size: cover;
}

#p1:hover {
    box-shadow: rgba(255,255,255, 120) 0px 0px 40px,  
                rgba(255,255,255, 120) -10px 0px 40px;
}
#p2:hover {
    box-shadow: rgba(255,255,255, 120) 0px 0px 40px,  
                rgba(255,255,255, 120) -10px 0px 40px;
}
#p3:hover {
    box-shadow: rgba(255,255,255, 120) 0px 0px 40px,  
                rgba(255,255,255, 120) -10px 0px 40px;
}
#p4:hover {
    box-shadow: rgba(255,255,255, 120) 0px 0px 40px,  
                rgba(255,255,255, 120) -10px 0px 40px;
}
#p5:hover {
    box-shadow: rgba(255,255,255, 120) 0px 0px 40px,  
                rgba(255,255,255, 120) -10px 0px 40px;
}
#p6:hover {
    box-shadow: rgba(255,255,255, 120) 0px 0px 40px,  
                rgba(255,255,255, 120) -10px 0px 40px;
}
#p7:hover {
    box-shadow: rgba(255,255,255, 120) 0px 0px 40px,  
                rgba(255,255,255, 120) -10px 0px 40px;
}
#p8:hover {
    box-shadow: rgba(255,255,255, 120) 0px 0px 40px,  
                rgba(255,255,255, 120) -10px 0px 40px;
}
#p9:hover {
    box-shadow: rgba(255,255,255, 120) 0px 0px 40px,  
                rgba(255,255,255, 120) -10px 0px 40px;
}
